<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.homegram.post.like.dao.LikeDAO">
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			, `userId`
			, `createdAt`
		)
		VALUE
		(
			#{postId}
			, #{userId}
			, now()
		)
	</insert>
	
	
	<!-- postId 기반으로 like 갯수를 가져오기 -->
	<select id="selectLikeCount" parameterType="int" resultType="int">
		SELECT 
		 	count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
	
	</select>

</mapper>