<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.homegram.user.dao.UserDAO">
	<!-- 가입 -->
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		) VALUE
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<!-- 로그인 -->
	<select id="selectUser" parameterType="map" resultType="com.sheena.homegram.user.model.UserModel">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
			, `profile`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	
	
	<!-- 중복체크 -->
	<select id="selectLoginIdCount" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	
	<!-- 비밀번호 찾기 -->
	

</mapper>